{% extends "::base.html.twig" %}

{% block body %}
<!--login modal-->
<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <h1 class="text-center">Welcome to Swiftly</h1>
      </div>
      <div class="modal-body">
        <h3>Hey there!</h3>
        	<p>Thanks so much for signing up with us, we know there is alot of other solutions out there.  
              We know that we can ease your pain! We've got your account all setup, but since we are still
              in the alpha phases of our product, we will need to review it before we give you actual access.
              Don't worry it'll be really soon, we promise!</p>
        
        <p>-- The SwiftnCo Team</p>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <a href="/logout" class="btn" aria-hidden="true">Logout</a>
		  </div>	
      </div>
  </div>
  </div>
</div>
{% endblock %}